#dress {
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;
}

#dress div {
    margin: 0;
    padding: 2.5px 5px;
    background-color: rgba(160, 220, 220, 0.1);
}

#dress pre {
    margin: 2.5px 5px;
}

#dress p {
    margin: 0 !important;
}

#dress .significant {
    color: red;
}